
body {
    text-align: center;
    background-color:azure;
}

#RadioButtonList1 {
    margin-left: auto;
    margin-right: auto;
}

#RadioButtonList2 {
    margin-left: auto;
    margin-right: auto;
}

#rd_Des {
    margin-left: auto;
    margin-right: auto;
}
#LinkButton1 {
    text-decoration: none;
}